.mainWrapper {
  background: #f5f5f5;
}

.checkoutWrapper {
  padding-top: 5%;
  text-align: center;
}

.checkout {
  font-size: 55px;
  font-family: "Oswald";
  letter-spacing: 3px;
}

.shoppingCartWrapper {
  padding-top: 40px;
}

.cartCard {
  height: 365px;
  overflow-y: scroll;
}

.cardHeader {
  background: white !important;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.productDetailWrapper {
  display: flex;
  align-items: center;
}

.productName,
.productPrice {
  font-size: 20px;
  font-weight: 500 !important;
  color: #636363;
}

.minus {
  width: 40px;
  height: 36px;
  border: 1px solid lightgrey;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

.plus {
  width: 40px;
  height: 36px;
  border: 1px solid lightgrey;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
}

.quantity {
  background: white;
  width: 30%;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 1px solid lightgrey;
}

.productTotal {
  font-size: 22px;
  font-weight: 500 !important;
  color: black;
}

.buyBtn {
  height: 45px;
  font-size: 18px !important;
  font-family: "Oswald";
  background: black !important;
  font-weight: 400 !important;
  letter-spacing: 5px;
  margin-bottom: 5px;
  border-radius: 0px !important;
  border: 0px !important;
}

@media (max-width: 991px) {
  .paymentWrapper {
    margin-top: 25px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 193, 193); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

/* Add transaction */
.addTransactionWrapper{
  margin: 0 50px 15px 50px;
}